* {
  margin: 0;
  padding: 0;
 
}

:root {
  --primary-color-1: #d22222;
  --primary-color-2: #fd5c42;
  --Secundary-color-1: #212529;
  --Secundary-color-2: #ededed;
  --Secundary-color-3:#731F1F;
  --font-primary: 'Comfortaa';
  --font-secundary: 'Contrail One';
  --font-primary-color: #fff;
}

section {
  padding: 1rem;
  min-height: 47rem;
  padding-inline: 4rem;
}

/*====SECTION1====================*/

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Secundary-color-2);
}

.section1 h1 {
  color: var(--primary-color-2);
  font-family: var(--font-primary);
  font-size: 3rem;
  font-weight: bold;

  text-align: center;

  max-width: 45rem;

  margin-block: 2.5rem;

}

embed {
  width: 50rem;
  height: 28rem;
}

.section1 a {
  margin-block: 2.5rem;

  border-radius: 2rem;

  max-width: 25rem;
}
.section1 button {
  color: var(--font-primary-color);
  font-size: 2rem;
  font-family: var(--font-primary);
  box-shadow: rgb(83, 81, 81) 0.1em 0.1em 0.1em;

  background-color: var(--primary-color-2);

  border: none;
  border-radius: 2rem;

  max-width: 25rem;
  height: 4.5rem;
  cursor: pointer;
}

/*====SECTION2====================*/

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--Secundary-color-1);
}

.section2 h3 {
  color: var(--Secundary-color-2);

  font-family: var(--font-primary);
  font-size: 2.5rem;

  margin-block: 2.5rem;
}

.section2 h2 {
  color: var(--Secundary-color-2);
  background-color: var(--primary-color-1);

  font-family: var(--font-secundary);
  font-size: 2rem;

  text-align: center;

  padding-inline: 3rem;
  padding-block: 0.8rem;

  max-width: 65rem;
}

.section2 p {
  margin-block: 2rem;
  max-width: 70rem;

  color: var(--Secundary-color-2);
  font-family: var(--font-primary-color);
  font-size: 2rem;

  line-height: 5rem;
  text-align: justify;
}

.section2 p:nth-last-child(2) {
  color: var(--font-primary-color);
  font-family: var(--font-secundary);
  font-size: 2.5rem;

  text-align: center;

  max-width: 80rem;
}

.section2 button {
  color: var(--Secundary-color-2);
  font-size: 2rem;
  font-family: var(--font-primary);

  box-shadow: rgb(27, 27, 27) 0.1em 0.1em 0.1em;

  background-color: var(--primary-color-1);

  border: none;
  border-radius: 2rem;

  margin-block: 2.5rem;
  width: 25rem;
  height: 4.5rem;
  cursor: pointer;
}
.section2 a {
  color: var(--font-primary-color);
  text-decoration: none;
}

/*====SECTION3====================*/

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: var(--Secundary-color-2);
}

.section3 h3 {
  color: var(--primary-color-2);

  font-family: var(--font-primary);
  font-size: 2.5rem;
  font-weight: bold;

  margin-block: 2.5rem;
}

.section3 .depoimentos {
  display: flex;

  flex-wrap: wrap;
  max-width: 60rem;
  margin-block: 2rem;
}

.section3 img {
  height: 20rem;
}

.section3 button {
  color: var(--Secundary-color);
  font-size: 2rem;
  font-family: var(--font-primary);

  box-shadow: rgb(27, 27, 27) 0.1em 0.1em 0.1em;

  background-color: var(--primary-color-2);

  border: none;
  border-radius: 2rem;

  margin-block: 2.5rem;
  width: 25rem;
  height: 4.5rem;
  cursor: pointer;
}

.section3 a {
  color: var(--font-primary-color);
  text-decoration: none;
}

/*====SECTION4====================*/

.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  

  /*  background: var(--Secundary-color-1);*/
  background: url(/assets/img/padrão/people-gef35c406c_1920.jpg);
  background-attachment: fixed;
  background-blend-mode: multiply; /*multiply, darken, lighten*/
  background-color: rgba(50,30, 15, 0.445);
}

.section4 h3 {
  color: var(--Secundary-color-2);

  font-family: var(--font-primary);
  font-size: 2.5rem;

  margin-block: 2.5rem;
  
}

.section4 .main-container {
  background: rgba(217, 217, 217, 0.18);

  border-radius: 2rem;

  margin-bottom: 3rem;
  max-width: 70rem;
  min-height: 45rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  
}
.section4 .img1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 2rem;
}
.section4 .img2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 1.5rem;
}

.section4 #imgcoracao{
  
  height: 6rem; 
  max-width: 7rem;
}
.section4 #imgboca{
  
  height: 7rem; 
  max-width: 7rem;
}

.section4 .container {
  background-color: #f5f0f0;

  border-radius: 2rem;

  border: #212529 solid 2px;
  margin-block: 3rem;
  margin-inline: 3rem;
  min-height: 39rem;
  max-width: 27.1rem;  

}

.section4 h2 {
  background-color: #d22222;

  font-family: var(--font-secundary);
  font-size: 2rem;
  color: var(--font-primary-color);

  text-align: center;
  line-height: 2;


  height: 4rem;
  max-width: 27.1rem;
}

.section4 p{
  font-family: var(--font-primary);
  font-size: 1.2rem;
  text-align: start;
  line-height: 3.5rem;
  width: 25rem;

  padding:1.8rem;

}

.section4 button {
  color: var(--Secundary-color);
  font-size: 2rem;
  font-family: var(--font-primary);

  box-shadow: rgb(27, 27, 27) 0.1em 0.1em 0.1em;

  background-color: var(--primary-color-2);

  border: none;
  border-radius: 2rem;

  margin-block: 2.5rem;
  width: 25rem;
  height: 4.5rem;
  cursor: pointer;
}

.section4 a {
  color: var(--font-primary-color);
  text-decoration: none;
}

/*====SECTION5====================*/

.section5{
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  height: 80rem;
  padding: 0;


}

.section5 .container{
  display: flex;
 
  justify-content: center;
  flex-direction: row;
  flex-wrap:wrap;
}

.section5 h3{
  color: var(--primary-color-2);

  font-family: var(--font-primary);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;

  margin-block: 2.5rem;
  padding-block: 0;
  max-width: 100%;


}

.section5 .content{
  margin-block: 1rem;
  margin-inline: 2rem;
  max-width: 40%;
  display: flex; 
 
  justify-content: center;
  align-items: center;

}

.section5 p{
  
  font-family: var(--font-primary);
  font-size: 1.8rem;
  text-align: start;
  line-height: 2.5rem;
  text-align:start;

  width: 40rem;
  height: 5rem;
  padding-block: 0.8rem;

}

.section5 button {
  color: var(--Secundary-color);
  font-size: 2rem;
  font-family: var(--font-primary);

  box-shadow: rgb(27, 27, 27) 0.1em 0.1em 0.1em;

  background-color: var(--primary-color-2);

  border: none;
  border-radius: 2rem;

  margin-block: 2.5rem;
  width: 25rem;
  height: 4.5rem;
  cursor: pointer;
}

.section5 a {
  color: var(--font-primary-color);
  text-decoration: none;
}



/*====SECTION6====================*/

.section6{
  display: flex;
  flex-direction: column;
  
  margin: 0;  
  padding: 0;

  align-items: center;
  
}

.section6 h3 {
  color: var(--Secundary-color-2);

  font-family: var(--font-primary);
  font-size: 6rem;
  text-align: center;
  line-height: 11rem;
  
  padding: 0;
  margin-block: 2.5rem;

  background-color: #731F1F;

  width: 100%;
  min-height: 10rem;
  
}
.section6 h2 {
  color: #731F1F;


  font-family: var(--font-secundary);
  font-size: 3rem;

  text-align: center;

  padding-inline: 3rem;
  padding-block: 0.8rem;

  max-width: 65;
}
.section6 .beneficios{
  display: flex;
  flex-wrap: nowrap;

  margin-bottom: 3rem;
  margin-inline: 2rem;
  
  max-width: 100%;
  
  
}
.section6 .column1{
  display: flex;
  flex-direction: column;
  
  max-width: 50%;
  
  align-items: center;
}
.section6 .column2{
  display: flex;
  flex-direction: column;

  max-width: 100%;

  align-items: center;
}

.section6 .content{
  display: flex;

  padding: 1rem;

  width: 100%;
  
  align-items: center;

  
}

.section6 .content p{
  font-family: var(--font-primary);
  color: #995959;
  font-size: 2rem;
  text-align:start;
  width:auto;

}

.section6 button {
  color: var(--Secundary-color);
  font-size: 2rem;
  font-family: var(--font-primary);

  box-shadow: rgb(27, 27, 27) 0.1em 0.1em 0.1em;

  background-color: var(--primary-color-2);

  border: none;
  border-radius: 2rem;

  margin-block: 2.5rem;
  width: 25rem;
  height: 4.5rem;
  cursor: pointer;
}

.section6 a {
  color: var(--font-primary-color);
  text-decoration: none;
}

/*====SECTION7====================*/

.section7{
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--Secundary-color-1);

  background: url(/assets/img/padrão/annette-sousa-HW-ep3fC4Kc-unsplash.jpg); 
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply; /*multiply, darken, lighten*/
  background-color: rgba(0,30, 15, 0.445);
}
.section7 .box{
  border-radius: 2rem;
  background-color: #e9e5e5;
  max-width: 35rem;
}
.section7 .box .title{
  text-align: center;
  color:var(--font-primary-color);
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  line-height: 1.5em;
  
  background-color:var(--primary-color-1);
  
  width: auto;
  padding-block:1rem ;
  border-top-left-radius:  2rem;
  border-top-right-radius: 2rem;

}

.section7 .box .subtitle{ 
  color: #000000;
  font-family: "Montserrat", Sans-serif;
  font-size: 26px;
  font-weight: 700;
  font-style: italic;
  text-align: center;

  margin-block: 1rem;

}

.section7 .box .info-valor{
  text-align: center;

  color:var(--primary-color-1);
  font-family: "Montserrat", Sans-serif;
  font-size: 26px;
  font-weight: 700;
  font-style: italic;

  margin-block: 1rem;
}

.section7 .box .valor{
  text-align: center;

  color: var(--primary-color-1);
  font-family: "Montserrat", Sans-serif;
  font-size: 57px;
  font-weight: 700;
  font-style: italic;

  margin-block: 1rem;
}

.section7 .parcela{
  text-align: center;
  font-family: "Montserrat", Sans-serif;
  font-weight: 700;
  color: #d22222;

  border: 2px solid #d22222;
  border-radius: 5rem;

  margin-inline: 12rem;
  margin-block: 1rem;
  padding: 0.5rem;

}

.section7 .button{
  border-radius: 5rem;

  background-color: #d22222;
  
  font-size: 1rem;
  text-align: center;

  margin-block: 1rem;
  margin-inline: 10rem;
  height: 3rem;

  line-height: 3rem;
  cursor: pointer;
  
}

.section7 a{
  font-family: "Montserrat", Sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}

.section7 .description{
  text-align: center;
  color: #000000;
  font-family: "Montserrat", Sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
  line-height: 1.5em;

  margin-bottom: 1rem;

}

.section7 img{
  margin-inline: 1rem;

}

footer{
  display: flex;
  padding: 0.5rem;
  height: 5rem;
  background-color: var(--primary-color-1);

  align-items: center;
  justify-content: center;
}

footer p{
  font-family: var(--font-primary);
  color: var(--font-primary-color);
  font-size: 0.7rem;

  text-align: center;
  line-height: 0.9rem;
}

footer  a{
  text-decoration: none;
  color: var(--font-primary-color);
  font-weight: bold;
  font-size:small;

  padding: 0;
  margin-top: 0;
}



@media (max-width: 450px){

  section{
    min-height: 35rem;
  }
/*SECTION1=============*/
  .section1 h1{
    font-size: 1.5rem;
   
  }
  embed {
    width: 20rem;
    height: 13rem;
  }
  .section1 button{
    font-size: 1.3rem;
    width:15rem;
    height: 3rem;
  }
  .section1 a{
    width:15rem;
    height: 3rem;
  }
/*SECTION2=============*/
  .section2 h3{
    font-size: 1.1rem;
  }
  .section2 h2 {

    font-size: 1.2rem;
  
    text-align: center;
  
    padding-inline: 1rem;
    padding-block: 0.8rem;
  
    width: 19rem;
  }
  .section2 p {
    margin-block: 0.8rem;
    width: 19rem;

    font-size: 1.27rem;
  
    line-height: 2.3rem;
    
  }
  .section2 p:nth-last-child(2) {
    color: var(--font-primary-color);
    font-family: var(--font-secundary);
    font-size: 1.2rem;
  
    text-align:center;
  
    width: 20rem;
  }
  .section2 a{
    font-size: 1.3rem;

    line-height: 3rem;

    width:15rem;
    height: 3rem;
  }
  .section2 button{
    width:15rem;
    height: 3.5rem;
  
    margin-block: 1rem;
  }
  /*SECTION3=============*/
  .section3 h3 {
    font-size: 1.5rem;
    font-weight: bold;

    margin-block: 2.5rem;
  }
  .section3 .depoimentos {
    justify-content: center;
  }
  .section3 a{
    font-size: 1.3rem;

    line-height: 3rem;

    width:15rem;
    height: 3rem;
  }
  .section3 button{
    width:15rem;
    height: 3.5rem;
  
    margin-block: 1rem;
  }
   /*SECTION4=============*/
  .section4 h3{
    font-size: 1.5rem;
  }
  .section4 .main-container {
    margin-bottom: 1rem;
    width: 22rem;
  }
  .section4 .img1{
    margin-block: 1rem;
  }
  .section4 .img2{
    margin-block: 1rem;
  }
  .section4 #imgcoracao{
    height: 2rem; 
    max-width: 3rem;
  }
  .section4 #imgboca{
    
    height: 3rem; 
    max-width: 3rem;
  }
  .section4 .container {  

    margin-block: 1rem;
    
    min-height: 29rem;
    width: 20rem;  
  
  }
  .section4 h2 {  
    font-size: 1.8rem;
    line-height: 2.2;
  
    max-width:20rem;
  }
  .section4 p{
    display: flex;
    font-size: 0.76rem;
    justify-content: center;
    align-items: center;

    width: 15rem;
    padding: 0.5;
  }
  .section4 a{
    font-size: 1.3rem;

    line-height: 3rem;

    width:15rem;
    height: 3rem;
  }
  .section4 button{
    width:15rem;
    height: 3.5rem;
  
    margin-block: 1rem;
  }
   /*SECTION5=============*/
   .section5{
    height: 80rem;
  }
   .section5 .container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap:wrap;
    margin-inline: 0;
    
  } 
  .section5 h3{
    font-size: 1.8rem;
  
    margin-block: 2.5rem;  
  }
  .section5 .content{
    margin-block: 2rem;
    margin-inline:0rem;
    width: 20;
    display: flex; 
    flex-wrap: wrap;
   
    justify-content: center;
    align-items:center;
  
  }
  .section5 img{
    width: 2.5rem;
    height:2.5rem;
  }
  .section5 p{ 
    font-size: 0.8rem;
    line-height: 1rem;
  
    text-align: center;

    width: 19rem;
    height: 3rem;
    padding-block: 0.8rem;

    margin-bottom: 0;
  
  }
  .section5 a{
    font-size: 1.3rem;

    line-height: 3rem;

    width:10rem;
    height: 3rem;
  }
  .section5 button{
    margin-block:5rem;
    width:15rem;
    height: 3.5rem;
  
    margin-block: 1rem;
  }
 /*SECTION6=============*/
  .section6{
    display: flex;
    flex-direction: column;
    margin: 0;  
    padding: 0;
    
  }
  .section6 h3 {
    font-size: 1rem;
    margin-block: 1rem;

    background-color: var(--Secundary-color-3);

    min-height: 5rem;
    
  }
  .section6 h2 {
    font-size: 1.5rem;

    padding-inline: 1rem;

    max-width: 65;
  }
  .section6 .beneficios{
    display: flex;
    flex-wrap: nowrap;

    margin-bottom: 3rem;
    margin-inline-start: 3.5rem;
    
    max-width: 100%;
  }
  .section6 .column1{
    display: flex;
    flex-direction: column;
    
    max-width: 20rem;
    
    align-items: center;
  }
  .section6 .column2{
    display: flex;
    flex-direction: column;

    max-width: 20rem;

    align-items: center;
  }
  .section6 .content{
    display: flex;

    padding: 1rem;

    width: 100%;

    align-items: center;
    
  }
  .section6 .content p{
    font-family: var(--font-primary);
    color: #995959;
    font-size: 0.8rem;
    text-align:start;
    width:7rem;

  }
  .section6 img{
    width: 3rem;
    height: 3rem;
  }
  .section6 a{
    font-size: 1.3rem;

    line-height: 3rem;

    width:15rem;
    height: 3rem;
  }
  .section6 button{
    width:15rem;
    height: 3.5rem;
  
    margin-block: 1rem;
  }
  /*SECTION7=============*/
  .section7 .box{
    border-radius: 2rem;
    background-color: #e9e5e5;
    width:20rem;
  }
  .section7 .box .title{
    font-size: 10px;
    line-height: 1.5em;

  }
  .section7 .box .subtitle{ 
    font-size: 13px;
    font-weight: 700;

    margin-block: 1rem;

  }
  .section7 .box .info-valor{
    font-size: 13px;
    margin-block: 1rem;
  }
  .section7 .box .valor{
    font-size: 28px;
    margin-block: 1rem;
  }
  .section7 .parcela{
    font-size: 13px;

    margin-inline: 3rem;
    margin-block: 1rem;
    padding: 0.5rem;

  }
  .section7 .button{  
    font-size: 0.7rem;
    text-align: center;

    margin-block: 0.5rem;
    margin-inline: 3rem;
    height: 3rem;

    line-height: 3rem;  
  }
  .section7 .description{

    font-size: 15px;

    line-height: 1.5em;

  }
  .section7 img{
    margin-inline: 0.8rem;
    width: 17rem;
    padding: 0.5rem;
  }
  footer{
    padding: 0.5rem;
    height: 2rem;
  }
  footer p{
    font-size: 0.0rem;
    line-height: 0rem;
    padding:0rem;
  }
  footer  a{
    font-size:9px;
    line-height: 1rem;
    padding: 0;
    margin-top: 0;
  }
}